:root {
  --actor-primary: #00fa9a;
  --actor-accent: #000;
}

.actor {
  position: absolute;
  left: 50%;
  height: 35px;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 75px;
}

.actor.facing-right {
  transform: translate(-50%, -50%) rotate(10deg);
}

.actor.facing-left {
  transform: translate(-50%, -50%) rotate(-10deg);
}

.actor.facing-right .actor__flange,
.actor.facing-right .actor__top {
  border-right:  solid var(--actor-accent) 2px;
}

.actor.facing-left .actor__flange,
.actor.facing-left .actor__top {
  border-left:  solid var(--actor-accent) 2px;
}

.actor__top {
  background-color: var(--actor-primary);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  position: absolute;
  height: 25px;
  top: 0;
  width: 75px;
  z-index: 100;
}

.actor__arm {
  background: var(--actor-primary);
  height: 20px;
  position: absolute;
  top: 50%;
  transform-origin: center top;
  width: 5px;
}

.actor__arm--left {
  left: 0;
  transform: rotate(20deg);
}

.actor__arm.shooting {
  transform: rotate(150deg);
}

.actor__arm--right {
  left: calc(100% - 5px);
  transform: rotate(-20deg);
}

.actor__bottom {
  bottom: 0;
  display: flex;
  height: 10px;
  justify-content: space-between;
  position: absolute;
  width: 75px;
  z-index: 50;
}

.actor__flange {
  animation: flange .5s linear infinite;
  background-color: var(--actor-primary);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  flex: 0 0 calc(25% - 3px);
  height: 15px;
}

.actor__flange.walking {
  animation: flange .5s linear infinite;
}

.actor__flange:nth-child(2) {
  animation-delay: .1s;
}

.actor__flange:nth-child(3) {
  animation-delay: .2s;
}

.actor__flange:nth-child(4) {
  animation-delay: .3s;
  
}

@keyframes flange{
  0% {
    transform: translateY(-7px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-7px);
  }
  75% {
    transform: translateY(-10px)
  }
  100% {
    transform: translateY(-7px);
  }
}